header{
    background-color: rgb(212, 14, 14);
    padding: 15px;
    h1{
        font-size: large;
    }
    .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
body{
    background-color: black;
    color: White;
}
.card{
    height: 260px;
    img{
        height: 100%;
        width: 100%;
    }
}

